.pick-lines{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.pickOne{
    font-size: 3.8rem;
}

.pickTwo{
    font-size: 2rem;
}

@media (max-width:1000px) {
    .pickOne{
        font-size: 2rem;
    }

    .pickTwo{
        font-size: 1rem;
    }

    @media (max-width:534px){
        .pickOne{
            font-size: 1.6rem;
        }
    
        .pickTwo{
            font-size: 0.9rem;
        }

        @media (max-width:430px){
            .pickOne{
                font-size: 1.3rem;
            }
        
            .pickTwo{
                font-size: 0.9rem;
            }

            @media (max-width:351px){
                .pickOne{
                    font-size: 1rem;
                }
            
                .pickTwo{
                    font-size: 0.7rem;
                }
            }
        }
    }
}